.venv/
.git/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
site/
docs/
tests/
mol-vscode/
*.mol
*.pdf
*.tex
*.md
mkdocs.yml
mol.spec
.gitignore
CONTRIBUTING.md
LANGUAGE_SPEC.md
ROADMAP.md
CHANGELOG.md
LICENSE
